body {background-color: #696969; text-align: justify; font-size:18px;}
h1 {text-align: center;background-color:##708090; color:#800000}
h3 {text-align: justify; color: #1C1C1C;}
b{color: black; font-size: 18px;}
i {color: black; font-size: 18px;}
header, footer{background-color: #363636; color:#ceeffc; text-align: center; font-size: 18px; black solid 2px;}
main {background-color: #CD5C5C;}
nav li {text-transform: uppercase:list-style: none; display:inline; margin-left: 10px; text-align: right;}
nav a {color: rgb(169,169,169); text-decoration:none; text-align:right;}
.PRIMEIROPARAGRAFO {text-align; justify; font-size: 18px; border: black solid 2px; padding: 10px; margin: 10px;}
#TITULOIMAGEM {width: 80%; height: 70%;}
#lista01 {display:block; text-align: center;}
#lista02 {display: inline-block;}
